# https://clangd.llvm.org/

CompileFlags:
  CompilationDatabase: .vscode

Style:
  FullyQualifiedNamespaces:
    - std

InlayHints:
  Enabled: Yes
  BlockEnd: Yes
  Designators: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  DefaultArguments: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: No

# fast check related warnings: https://github.com/clangd/clangd/issues/1727
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    FastCheckFilter: None

---

# Ignore packages that installed by vcpkg
If:
  PathMatch: (out|build|vendor).*
Diagnostics:
  Suppress: '*'
  UnusedIncludes: None
  MissingIncludes: None
